.about__container {
  max-width: 980px;
}

.about h3 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}

.about__title {
  margin-bottom: 44px;
}

.about__us {
display: inline-block;
margin-bottom: -5px;
}

.about__us-image-main {
  float: left;
  margin-right: 80px;
}

.about__us-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
}

.about__us-text-b {
  font-size: 42px;
  line-height: 50px;
  text-transform: uppercase;
  padding-left: 665px;
  text-indent: -25px;
}

.about__us-text-b:before {
  font-size: 70px;
  line-height: 50px;
  text-transform: uppercase;
  content: '\201c';
  color: var(--button-color);
}

.about__us-text-b:after {
  font-size: 70px;
  line-height: 50px;
  text-transform: uppercase;
  content: '\201d';
  color: var(--button-color);
}

.about__us-text-c {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
}

.about-cite {
margin-left: 800px;
margin-bottom: 50px;
}

.about-img {
  float: left;
  margin-right: 20px;
  max-width: 100%;
}

.about-p {
  width: 330px;
  text-align: left;
  line-height: 28px;
}

@media (max-width: 1024px) {
  .about {
    max-width: 904px;
    margin: 0 auto;
  }

  .about__us-image-main {
    width: 420px;
    height: auto;
    float: left;
    margin-right: 80px;
  }

  .about h3 {
    font-size: 30px;
  }

  .about__us {
    display: block;
  }

  .about__us-text {
    font-size: 18px;
  }

  .about__us-text-b {
    padding-left: 0;
    font-size: 30px;
    line-height: 35px;
  }

  .about-cite {
    margin-left: 600px;
  }
}

@media (max-width: 768px) {
  .about {
    max-width: 688px;
    margin: 0 auto;
  }

  .about__us-image-main {
    margin-right: 28px;
  }

  .about__us-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 108px;
  }

  .about__us-text-b {
    font-size: 32px;
  }

  .about__us-text-c {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 60px;
  }

  .about-cite {
    margin-left: 365px;
  }
}

@media (max-width: 640px) {
  .about {
    max-width: 280px;
    margin: 0 auto;
  }

  .about h3 {
    font-size: 14px;
    margin-bottom: 0;
  }

  .about__img-txt {
    display: flex;
    flex-direction: column-reverse;
  }

  .about__us-text {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
  }

  .about__us-text-b {
    font-size: 18px;
    line-height: 24px;
  }

  .about__us-text-b:before {
    font-size: 40px;
  }

  .about__us-text-b:after {
    font-size: 40px;
  }

  .about__us-image {
    width: 56px;
    height: 56px;
  }

  .about__us-image-main {
    max-width: 100%;
    margin: 0;
  }

  .about-cite {
    margin-left: 0;
  }

  .about__us-text-c {
    font-size: 12px;
  }

  .about-p {
    width: auto;
  }
}