.banner__container {
  position: relative;
  margin-bottom: 40px;
}

.banner__content {
  margin-bottom: 123px;
}

.banner__title {
  font-size: 9.375rem;
  text-transform: uppercase;
  letter-spacing: inherit;
  text-align: left;
  font-weight: 900;
  margin-bottom: 0;
}

.banner__quote {
  text-align: left;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 60px;
}

.banner__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  max-width: 150px;
  text-align: center;
  margin-bottom: 36px;
}

.banner__group-1,
.banner__group-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}

.banner__span {
  font-size: 6.25rem;
  font-weight: bold;
  color: var(--banner-span-color);
}

.banner__span-new {
  font-size: 4.6875rem;
  font-weight: bold;
  color: var(--banner-span-color);
}

.banner__text {
  font-size: 1.875rem;
  line-height: 34px;
}

.banner__quote {
  font-size: 1.75rem;
  font-weight: 400;
}

.banner__link {
  padding: 25px 69px;
  background-color: var(--button-color);
  text-align: center;
  border-radius: 8px;
  margin-bottom: 165px;
  color: var(--main-color);
  font-size: 26px;
  text-transform: uppercase;
  line-height: 247px;
  filter:
  drop-shadow(5px 5px 10px #640AA3);
}

.banner__link:hover {
  color: var(--main-color);
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  background-color: #840AA3;
}

.banner__link:focus {
  background-color: #840AA3;
}

.banner__link:active {
  background-color: #640AA3;
}

.banner__image {
  position: absolute;
  height: auto;
  left: 504px;
  top: 72px;
}

.banner__svg {
  position: absolute;
  top: 84%;
  left: 46%;
  z-index: 1;
  cursor: pointer;
}

.banner__svg:hover {
  fill: var(--main-color);
}

.banner__svg:hover rect {
  fill: var(--button-color);
}

.banner__svg:focus {
  background-color: var(--banner-span-color);
}

.banner__svg:active circle{
  fill: var(--banner-span-color);
}

.banner__svg:active rect {
  fill: var(--main-color);
}

@media (max-width: 1024px) {
  .banner {
    max-width: 904px;
    margin: 0 auto;
  }

  .banner__content {
    margin-bottom: 87px;
  }

  .banner__image {
    width: 453px;
    top: 110px;
    left: 448px;
  }

  .banner__title {
    font-size: 120px;
  }

  .banner__quote {
    font-size: 22px;
  }

  .banner__span {
    font-size: 80px;
  }

  .banner__span-new {
    font-size: 60px;
  }

  .banner__text {
    font-size: 26px;
  }

  .banner__link {
    padding: 17px 48px;
    font-size: 22px;
  }

  .banner__items {
    margin-bottom: -44px;
  }

  .banner__svg {
    width: 67px;
    height: 67px;
  }
}

@media (max-width: 768px) {
  .banner {
    max-width: 688px;
    margin: 0 auto;
    padding-top: 10px;
  }

  .banner__title {
    font-size: 86px;
    letter-spacing: inherit;
  }

  .banner__quote {
    font-size: 18px;
  }

  .banner__span {
    font-size: 50px;
  }

  .banner__span-new {
    font-size: 40px;
  }

  .banner__text {
    font-size: 16px;
    line-height: 24px;
  }

  .banner__image {
    width: 409px;
    height: 461px;
    top: 56px;
    left: 280px;
  }

  .banner__link {
    font-size: 16px;
  }

  .banner__svg {
    display: none;
  }

  .banner__content {
    margin-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .banner {
    max-width: 280px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 0;
  }

  .banner__title {
    font-size: 35px;
    letter-spacing: inherit;
  }

  .banner__quote {
    font-size: 10px;
    margin-left: 20px;
    margin-bottom: 0;
  }

  .banner__span {
    font-size: 26px;
  }

  .banner__span-new {
    font-size: 22px;
  }

  .banner__text {
    font-size: 10px;
    line-height: 11px;
  }

  .banner__items {
    gap: 7px;
  }

  .banner__link {
    font-size: 10px;
    padding: 8px 15px;
    line-height: 153px;
  }

  .banner__image {
    width: 161px;
    height: 179px;
    top: 26px;
    left: 119px;
  }

  .banner__content {
    margin-bottom: 7px;
  }
}