.footer__container {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 156px;
}

.footer {
  background: linear-gradient(#1B1A1B, #370A37);
}

.footer__list {
  display: flex;
}

.footer__title {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
  margin-bottom: 45px;
}

.footer__list {
  display: flex;
}

.footer__item-adress {
  display: -webkit-inline-box;
  margin-bottom: 20px;
}

.footer__img-location {
  margin-right: 15px;
}

.footer__list-item {
  margin-right: 15px;
}

.footer__img-item {
  padding-right: 15px;
}

.footer__list-email {
  margin-bottom: 20px;
}

.social {
  display: flex;
  gap : 1.75rem;
  margin: 35px 0;
}

.footer__item-p {
  font-size: 24px;
  width: 240px;
  line-height: 28px;
}

.footer {
  background: linear-gradient(#1B1A1B, #370A37);
}

.madeby {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
}

.footer__map {
  float: right;
  width: 680px;
  height: 264.9px;
}

.contacts {
  display: block;
}

.contacts h3 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}

.location {
  position: relative;
  align-items: center;
  padding-bottom: 30px;
  text-align: left;
  padding-bottom: 30px;
}

.location img {
  padding-right: 20px;
}

.phone {
  display: flex;
  align-items: center;
}

.phone img {
  padding-right: 20px;
}

.email {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.email img {
  padding-right: 20px;
}

.footer__item {
  margin-right: 20px;
}

.footer__list-two {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .footer__container {
    max-width: 904px !important;
    margin: 0 auto !important;
  }

  .footer__map {
    width: auto;
    height: 274px;
  }

  .social {
    margin-bottom: 100px;
  }

  .madeby {
    max-width: 904px !important;
    margin: 0 auto !important;
  }

  .social__vk {
    width: 40px;
  }

  .social__tg {
    width: 40px;
  }

  .social__sv {
    width: 40px;
  }

  .social__pin {
    width: 40px;
  }
}

@media (max-width: 768px) {
  .footer {
    background: linear-gradient(#1B1A1B, #370A37);
  }

  .footer__container {
    max-width: 688px !important;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .social {
    display: flex;
    order: 1;
  }

  .footer__map {
    width: 668px;
    height: 337px;
  }
}