.halls__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.halls__image {
  width: 580px;
}

.halls__title {
  margin-bottom: 47px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.halls__name-one {
  display: block;
  background-image: url("../img/80s-vibe.jpg");
  width: 580px;
  height: 349px;
  text-align: center;
  font-size: 72px;
  background-size: cover;
  background-position: center;
  line-height: 340px;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

.halls__name-one:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.halls__name-two {
  display: block;
  background-image: url("../img/star_wars.jpg");
  width: 580px;
  height: 349px;
  text-align: center;
  font-size: 72px;
  background-size: cover;
  background-position: center;
  line-height: 340px;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

.halls__name-two:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.halls__name-three {
  display: block;
    background-image: url("../img/wild_west.jpg");
    width: 580px;
    height: 349px;
    text-align: center;
    font-size: 72px;
    background-size: cover;
    background-position: center;
    line-height: 340px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
  }

.halls__name-three:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

  .halls__name-four {
    display: block;
    background-image: url("../img/neon_style.jpg");
    width: 580px;
    height: 349px;
    text-align: center;
    font-size: 72px;
    background-size: cover;
    background-position: center;
    line-height: 340px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
  }

.halls__name-four:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.halls__item-one {
  height: 349px;
  position: relative;
  float: left;
  vertical-align: top;
}

.halls__item {
  position: relative;
  float: left;
  vertical-align: top;
}

/* .halls__item:not(:nth-child(2n)) {
  margin-right: 20px;
  margin-bottom: 20px;
} */

/* .halls__name {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  transform: translate(-50%, -50%);
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
} */

@media (max-width: 1024px) {
  .halls {
    max-width: 904px;
    margin: 0 auto;
  }

  .halls__list {
    margin-bottom: 51px;
  }

  .halls__title {
    font-size: 30px;
  }

  .halls__name-one {
    width: 440px;
    height: 267px;
    line-height: 270px;
    font-size: 50px;
  }

  .halls__name-two {
    width: 440px;
    height: 267px;
    line-height: 270px;
    font-size: 50px;
  }
  
  .halls__name-three {
    width: 440px;
    height: 267px;
    line-height: 270px;
    font-size: 50px;
  }

  .halls__name-four {
    width: 440px;
    height: 267px;
    line-height: 270px;
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .halls {
    max-width: 688px;
    margin: 0 auto;
  }

  .halls__title {
    font-size: 24px;
  }

  .halls__name-one {
    width: 335px;
    height: 200px;
    font-size: 40px;
    line-height: 200px;
  }

  .halls__name-two {
    width: 333px;
    height: 200px;
    font-size: 40px;
    line-height: 200px;
  }

  .halls__name-three {
    width: 335px;
    height: 200px;
    font-size: 40px;
    line-height: 200px;
  }

  .halls__name-four {
    width: 333px;
    height: 200px;
    font-size: 40px;
    line-height: 200px;
  }
}

@media (max-width: 480px) {
  .halls {
    max-width: 280px;
    margin: 0 auto;
  }

  .halls__title {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .halls__list {
    gap: 10px;
    margin-bottom: 30px;
  }

  .halls__name-one {
    width: 280px;
    height: 168px;
    font-size: 26px;
    line-height: 170px;
  }

  .halls__name-two {
    width: 280px;
    height: 168px;
    font-size: 26px;
    line-height: 170px;
  }
  
  .halls__name-three {
    width: 280px;
    height: 168px;
    font-size: 26px;
    line-height: 170px;
  }

  .halls__name-four {
    width: 280px;
    height: 168px;
    font-size: 26px;
    line-height: 170px;
  }
}