.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__list {
  display: flex;
}

.header__link {
  padding-right: 30px;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--main-color);
}

.header__button-link {
  border: 3px solid #6C0287;
  padding: 12px 32px;
  border-radius: 8px;
  font-size: 22px;
  text-transform: uppercase;
}

.header__button-link:hover {
  background-color: var(--button-color);
}

.header__button-link:focus {
  background-color: var(--button-color);
}

.header__button-link:active { 
  border: 3px solid black;
  background-color: #640AA3;
}