.main-text__container {
  max-width: 1000px;
  margin: 0 auto;
}

.main-text__text {
  font-size: 1.5rem;
  text-align: center;
  line-height: 150%;
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .main-text {
    max-width: 904px;
    margin: 0 auto;
  }

  .main-text__container {
    max-width: 800px;

  }

  .main-text__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .main-text {
    max-width: 688px;
    margin: 0 auto;
  }

  .main-text__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .main-text {
    max-width: 280px;
    margin: 0 auto;
  }

  .main-text__text {
    font-size: 16px;
    margin-bottom: 0;
  }
}