html {
  position: relative;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #1B1A1B;
  color: #FFFFFF;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, figure, fieldset {
  margin: 0;
  margin-bottom: 20px;
}

p {
  line-height: 24px;
  margin-top: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

a:hover {
  color: gainsboro;
  text-decoration: underline;
}


.halls__list {
  display: inline-block;
  vertical-align: top;
}

.halls__image {
  width: 580px;
}

.halls h3 {
  margin: 40px 0;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

/* .halls__item {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
} */

.halls__name-one {
  background-image: url('/img/80\'s-vibe.jpg');
  width: 580px;
  height: 349px;
  text-align: center;
  font-size: 72px;
  background-size: cover;
  background-position: center;
  line-height: 340px;
  text-transform: uppercase;
}

.halls__name-two {
  background-image: url(/img/star_wars.jpg);
  width: 580px;
  height: 349px;
  text-align: center;
  font-size: 72px;
  background-size: cover;
  background-position: center;
  line-height: 340px;
  text-transform: uppercase;
}

.halls__name-three {
    background-image: url(/img/wild_west.jpg);
    width: 580px;
    height: 349px;
    text-align: center;
    font-size: 72px;
    background-size: cover;
    background-position: center;
    line-height: 340px;
    text-transform: uppercase;
  }

  .halls__name-four {
    background-image: url(/img/neon_style.jpg);
    width: 580px;
    height: 349px;
    text-align: center;
    font-size: 72px;
    background-size: cover;
    background-position: center;
    line-height: 340px;
    text-transform: uppercase;
  }

.halls__item-one {
  height: 349px;
  position: relative;
  float: left;
  vertical-align: top;
}

.halls__item {
  height: 349px;
  position: relative;
  float: left;
  vertical-align: top;
}

.halls__item:not(:nth-child(2n)) {
  margin-right: 20px;
  margin-bottom: 20px;
}

/* .halls__name {
  position: absolute;
  left: 18%;
  top: 38%;
  text-align: center;
  color: #ffffff;
  font-size: 70px;

} */

.halls__name {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  transform: translate(-50%, -50%);
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.booking {
  width: 100%;
}

.about h3 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}

.about__us {
display: inline-block;
}

.about__us-image-main {
  float: left;
  margin-right: 80px;
}

.about__us-text {
  margin: 0;
  padding: 0;
}

.about__us-text-b {
  font-size: 42px;
  line-height: 50px;
  text-transform: uppercase;
  padding-left: 665px;
  text-indent: -25px;
}

.about__us-text-b:before {
  font-size: 70px;
  line-height: 50px;
  text-transform: uppercase;
  content: '\201c';
  color: #6C0287;
}

.about__us-text-b:after {
  font-size: 70px;
  line-height: 50px;
  text-transform: uppercase;
  content: '\201d';
  color: #6C0287;
}

.about-cite {
margin-left: 800px;
margin-bottom: 50px;
}

.about-img {
  float: left;
  margin-right: 20px;
  max-width: 100%;
}

.about-p {
  width: 330px;
  text-align: left;
  line-height: 28px;
}

.contacts {
  display: block;
}

.contacts h3 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}

.location {
  position: relative;
  align-items: center;
  padding-bottom: 30px;
  text-align: left;
  padding-bottom: 30px;
}

.location img {
  padding-right: 20px;
}

.phone {
  display: flex;
  align-items: center;
}

.phone img {
  padding-right: 20px;
}

.email {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.email img {
  padding-right: 20px;
}

.footer__item {
  margin-right: 20px;
}

.main-text {
  height: 920px;
  padding: 20px;
}

.main-text h2 {
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  text-align: left;
  font-weight: 900;
  margin-bottom: 0;
}

.main-text blockquote {
  text-align: left;
  margin-left: 100px;
  margin-top: 0;
}

.main-text img {
  position: absolute;
  top: 135px;
  right: 335px;
}

.faq h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}

.reviews h3 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}

section {
  padding: 20px 0 20px 0;
}

.footer__title {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
}

.footer__list {
  display: flex;
}

.reviews__item {
  list-style-type: none;
}

.footer__item-adress {
  display: -webkit-inline-box;
  margin-bottom: 20px;
}

.footer__img-location {
  margin-right: 15px;
}

.footer__list-item {
  margin-right: 15px;
}

.footer__img-item {
  padding-right: 15px;
}

.footer__list-email {
  margin-bottom: 20px;
}

.social {
  display: flex;
  gap : 1.75rem;
  margin: 35px 0;
}

.footer__item-p {
  font-size: 20px;
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews__item {
  position: relative;
  margin-bottom: 20px;
  clear: both;
}

.reviews__item-text {
  width: 680px;
  position: absolute;
  top: 50px;
}

.reviews__content {
  overflow: hidden;
  margin-bottom: 20px;
}

.reviews__image {
    float: left;
  width: 280px;
  height: 280px;
  margin-right: 20px; 
  border: none;
  border-radius: 50%;
}

.reviews__text {
  overflow: hidden;
}

.reviews__name {
  float: left;
  margin-left: 80px;
}