html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: var(--bgcolor);
  color: var(--main-color);
  margin: 0;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, figure, fieldset {
  margin: 0;
  margin-bottom: 20px;
}

p {
  line-height: 24px;
  margin-top: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

a:hover {
  color: gainsboro;
  text-decoration: none;
}

*:hover, *:focus, *:active {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.container {
  --width: 1180px;
  --padding: 20px;
  max-width: calc(var(--width) + (var(--padding) * 2));
  padding: 0 var(--padding);
  margin: 0 auto;
}

section {
  padding: 20px 0 20px 0;
}

.footer__container {
  margin-bottom: 156px;
}

/* Стили для выпадающего списка */
.custom-select select {
  appearance: none;
  padding: 12px 70px 12px 20px;
  font-size: 18px;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.custom-select select:focus {
  outline: none;
  border-color: #640AA3;
}

/* Стили для опций в выпадающем списке */
.custom-select select option {
  background-color: #fff;
  color: black;
}