.wehave-room__title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.wehave-room__main-content {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-bottom: 80px;
}

.wehave-room__text {
  font-size: 20px;
  line-height: 28px;
}

.wehave-room__image {
  max-width: none;
}

@media (max-width: 1024px) {
  .wehave-room {
    max-width: 904px;
    margin: 0 auto;
  }

  .wehave-room__title {
    font-size: 30px;
  }

  .wehave-room__main-content {
    gap: 20px;
    margin-bottom: 30px;
  }

  .wehave-room__text {
    font-size: 18px;
  }

  img {
    max-width: fit-content;
  }
}

@media (max-width: 768px) {
  .wehave-room {
    max-width: 688px;
    margin: 0 auto;
  }

  .wehave-room__title {
    font-size: 24px;
  }

  .wehave-room__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .wehave-room {
    max-width: 280px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .wehave-room__title {
    font-size: 14px;
  }

  .wehave-room__text {
    font-size: 12px;
    line-height: 16px;
  }

  .wehave-room__main-content {
    flex-direction: column;
    margin-bottom: 0;
  }
}