.wehave__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
}

.wehave__text-one {
  background-image: url("../img/Rectangle_29.jpg");
  background-repeat: no-repeat;
  width: 380px;
  height: 228px;
  background-size: contain;
  padding: 170px 0 35px 30px;
  font-weight: bold;
  transition: transform 0.3s ease;
  
}

.wehave__text-two {
  background-image: url("../img/audio.jpg");
  background-repeat: no-repeat;
  width: 380px;
  height: 228px;
  background-size: contain;
  padding: 170px 0 35px 30px;
  font-weight: bold;
  transition: transform 0.3s ease;
  transform: translate(0,70px)
}

.wehave__text-three {
  background-image: url("../img/micro.jpg");
  background-repeat: no-repeat;
  width: 380px;
  height: 228px;
  background-size: contain;
  padding: 170px 0 35px 30px;
  font-weight: bold;
  transition: transform 0.3s ease;

}

.wehave__text-four {
  background-image: url("../img/game.jpg");
  background-repeat: no-repeat;
  width: 380px;
  height: 228px;
  background-size: contain;
  padding: 170px 0 35px 30px;
  font-weight: bold;
  transition: transform 0.3s ease;

}

.wehave__text-five {
  background-image: url("../img/netflix.jpg");
  background-repeat: no-repeat;
  width: 380px;
  height: 228px;
  background-size: contain;
  padding: 170px 0 35px 30px;
  font-weight: bold;
  transition: transform 0.3s ease;
  transform: translate(0,70px)
}

.wehave__text-six {
  background-image: url("../img/sony.jpg");
  background-repeat: no-repeat;
  width: 380px;
  height: 228px;
  background-size: contain;
  padding: 170px 0 35px 30px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.wehave__text-one:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.wehave__text-two:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.wehave__text-three:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.wehave__text-four:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.wehave__text-five:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.wehave__text-six:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}