:root {
  --main-color: #ffffff;
  --bgcolor: #1B1A1B;
  --button-color: #6C0287;
  --banner-span-color: #CD06FF;
  --faq-color: #1C1A1A;
  --nth-color: #440F51;
}

html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: var(--bgcolor);
  color: var(--main-color);
  margin: 0;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, figure, fieldset {
  margin: 0;
  margin-bottom: 20px;
}

p {
  line-height: 24px;
  margin-top: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

a:hover {
  color: gainsboro;
  text-decoration: none;
}

*:hover, *:focus, *:active {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.container {
  --width: 1180px;
  --padding: 20px;
  max-width: calc(var(--width) + (var(--padding) * 2));
  padding: 0 var(--padding);
  margin: 0 auto;
}

section {
  padding: 20px 0 20px 0;
}

.footer__container {
  margin-bottom: 156px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__logo {
  filter:
  drop-shadow(5px 5px 20px #640AA3);
}

.header__menu {
  display: none;
  color: #6C0287;
  border: 1px solid transparent;
}

.header__menu:hover {
  color: #CD06FF;
}

.header__menu:focus {
  color: #CD06FF;
}

.header__menu:active{
  color: #840AA3;
}

.header__list {
  display: flex;
}

.header__link {
  padding-right: 30px;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--main-color);
}

.header__button-link {
  border: 3px solid #CD06FF;
  padding: 12px 32px;
  border-radius: 8px;
  font-size: 22px;
  text-transform: uppercase;
}

.header__button-link:hover {
  background-color: var(--button-color);
}

.header__button-link:focus {
  background-color: var(--button-color);
}

.header__button-link:active { 
  border: 3px solid black;
  background-color: #640AA3;
}

@media (max-width: 1240px) {
  .header {
    max-width: 904px;
    margin: 0 auto;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .header__link {
    font-size: 18px;
  }

  .header__button-link {
    font-size: 18px;
  }
}

@media (max-width: 940px) {
  .header__navigation {
    display: none;
  }

  .header {
    max-width: 688px ;
    margin: 0 auto;
  }

  .header__container {
    flex-direction: row;
  }

  .header__menu {
    display: flex;
    order: 1;
  }

  .header__logo {
    display: flex;
    order: 0;
  }

  .header__button {
    display: flex;
    width: 229px;
    order: 2;
  }

  .header__button-link {
    padding: 10px 26px;
  }
}

@media (max-width: 480px) {
  .header__navigation {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header {
    max-width: 280px;
    margin: 0 auto;
  }

  .header__container {
    padding-bottom: 0;
  }

  .header__logo {
    width: 65px;
    height: 42px;
  }

  .header__menu {
    width: 39px;
    height: 20px;
  }
}

.arrow {
  max-width: 1180px;
  margin: 0 auto;
}

.arrow__link {
  font-size: 22px;
  background-image: url('../img/arrow.svg');
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left center;
}

@media (max-width: 1024px) {
  .arrow {
    max-width: 904px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .arrow {
    max-width: 688px;
    margin: 0 auto;
  }

  .arrow__link {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .arrow {
    max-width: 280px;
    margin: 0 auto;
  }

  .arrow__link {
    font-size: 12px;
  }
}

.hero__container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  height: 46.875rem;
  background-image: url('../img/neonbg.jpg');
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 5.625rem;
  text-transform: uppercase;
}

@media (max-width: 1240px) {
  .hero__container {
    background-image: url('../img/neonbg_1024.jpg');
    width: 64rem;
    height: 33.375rem;
    margin-bottom: 30px;
  }

  .hero__title {
    top: 50%;
  }
}

@media (max-width: 940px) {
  .hero__container {
    background-image: url('../img/neonbg_768.jpg');
    width: 48rem;
    height: 25.125rem;
    margin-bottom: 20px;
  }

  .hero__title {
    font-size: 60px;
  }
}

@media (max-width: 680px) {
  .hero__container {
    background-image: url('../img/neonbg_320.jpg');
    width: 20rem;
    height: 10.5rem;
  }

  .hero__title {
    font-size: 30px;
  }
}

.main-text__container {
  max-width: 1000px;
  margin: 0 auto;
}

.main-text__text {
  font-size: 1.5rem;
  text-align: center;
  line-height: 150%;
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .main-text {
    max-width: 904px;
    margin: 0 auto;
  }

  .main-text__container {
    max-width: 800px;

  }

  .main-text__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .main-text {
    max-width: 688px;
    margin: 0 auto;
  }

  .main-text__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .main-text {
    max-width: 280px;
    margin: 0 auto;
  }

  .main-text__text {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.wehave-room__title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.wehave-room__main-content {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-bottom: 80px;
}

.wehave-room__text {
  font-size: 20px;
  line-height: 28px;
}

.wehave-room__image {
  max-width: none;
}

@media (max-width: 1024px) {
  .wehave-room {
    max-width: 904px;
    margin: 0 auto;
  }

  .wehave-room__title {
    font-size: 30px;
  }

  .wehave-room__main-content {
    gap: 20px;
    margin-bottom: 30px;
  }

  .wehave-room__text {
    font-size: 18px;
  }

  img {
    max-width: fit-content;
  }
}

@media (max-width: 768px) {
  .wehave-room {
    max-width: 688px;
    margin: 0 auto;
  }

  .wehave-room__title {
    font-size: 24px;
  }

  .wehave-room__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .wehave-room {
    max-width: 280px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .wehave-room__title {
    font-size: 14px;
  }

  .wehave-room__text {
    font-size: 12px;
    line-height: 16px;
  }

  .wehave-room__main-content {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.other-rooms__title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.other-rooms__main {
  display: flex;
  gap: 20px;
  margin-bottom: 112px;
}

.other-rooms__one {
  display: block;
  background-image: url('../img/80_other.jpg');
  width: 380px;
  height: 229px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 230px;
  transition: transform 0.3s ease;
}

.other-rooms__one:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.other-rooms__two {
  display: block;
  background-image: url(../img/ww_other.jpg);
  width: 380px;
  height: 229px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 230px;
  transition: transform 0.3s ease;
}


.other-rooms__two:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.other-rooms__three {
  display: block;
  background-image: url(../img/sw_other.jpg);
  width: 380px;
  height: 229px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 230px;
  transition: transform 0.3s ease;
}

.other-rooms__three:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

@media (max-width: 1240px) {

  .other-rooms__title {
    font-size: 30px;
  }

  .other-rooms__main {
    gap: 20px;
    margin-bottom: 62px;
  }

  .other-rooms__one {
    background-image: url(../img/80_other.jpg);
    width: 288px;
    height: 172px;
    line-height: 170px;
  }

  .other-rooms__two {
    background-image: url(../img/ww1024.jpg);
    width: 288px;
    height: 172px;
    line-height: 170px;
  }

  .other-rooms__three {
    background-image: url(../img/sw_other.jpg);
    width: 288px;
    height: 172px;
    line-height: 170px;
  }
}

@media (max-width: 940px) {
  .other-rooms {
    max-width: 688px;
    margin: 0 auto;
  }

  .other-rooms__title {
    font-size: 24px;
  }

  .other-rooms__main {
    gap: 8px;
    margin-bottom: 50px;
  }

  .other-rooms__one {
    background-image: url(../img/80_other.jpg);
    width: 224px;
    height: 134px;
    line-height: 135px;
    font-size: 20px;
  }

  .other-rooms__two {
    background-image: url(../img/ww768.jpg);
    width: 224px;
    height: 134px;
    line-height: 135px;
    font-size: 20px;
  }

  .other-rooms__three {
    background-image: url(../img/sw_other.jpg);
    width: 224px;
    height: 134px;
    line-height: 135px;
    font-size: 20px;
  }
}

@media (max-width: 680px) {
  .other-rooms {
    max-width: 280px;
    margin: 0 auto;
  }

  .other-rooms__title {
    font-size: 14px;
  }

  .other-rooms__main {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 0;
  }

  .other-rooms__one {
    background-image: url(../img/80_320.jpg);
    width: 100%;
    height: 140px;
    line-height: 135px;
    font-size: 20px;
  }

  .other-rooms__two {
    background-image: url(../img/ww320.jpg);
    width: 100%;
    height: 140px;
    line-height: 135px;
    font-size: 20px;
  }

  .other-rooms__three {
    background-image: url(../img/sw_320.jpg);
    width: 100%;
    height: 140px;
    line-height: 135px;
    font-size: 20px;
  }
}